<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{template.html}">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <meta name="description" content="Promento Admin"/>
    <meta name="author" content="Boumali Anas EHTP GI promo 2018"/>
    <title>Editer une entreprise</title>
    
    <link rel="shortcut icon" href="../assets/global/images/favicon.png" type="image/png"/>
    <link href="../assets/global/css/style.css" rel="stylesheet"/>
    <link href="../assets/global/css/theme.css" rel="stylesheet"/>
    <link href="../assets/global/css/ui.css" rel="stylesheet"/>
    <link href="../assets/admin/layout1/css/layout.css" rel="stylesheet"/>
    <!-- BEGIN PAGE STYLE -->
<!--     <link href="../assets/global/plugins/metrojs/metrojs.min.css" rel="stylesheet"/> -->
<!--     <link href="../assets/global/plugins/maps-amcharts/ammap/ammap.min.css" rel="stylesheet"/> -->
    <!-- END PAGE STYLE -->
    <script src="../assets/global/plugins/modernizr/modernizr-2.6.2-respond-1.1.0.min.js"></script>
  </head>

  <!-- BEGIN BODY -->
  <body class="fixed-topbar fixed-sidebar theme-sdtl color-default dashboard" layout:fragment="page-content">
    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <section>
      <!-- BEGIN SIDEBAR -->
      <div class="sidebar">
        <div class="logopanel">
          <h1>
            <a href="dashboard.html"></a>
          </h1>
        </div>
        <div class="sidebar-inner">
          <div class="sidebar-top">
<!--             <form action="search-result.html" method="post" class="searchform" id="search-results"> -->
<!--               <input type="text" class="form-control" name="keyword" placeholder="Search..."/> -->
<!--             </form> -->
            <div class="userlogged clearfix">
              <i class="icon icons-faces-users-01"></i>
            </div>
          </div>
          <div class="menu-title">
            Navigation 
            <div class="pull-right menu-settings">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" data-delay="300"> 
              <i class="icon-settings"></i>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#" id="reorder-menu" class="reorder-menu">Reorder menu</a></li>
                <li><a href="#" id="remove-menu" class="remove-menu">Remove elements</a></li>
                <li><a href="#" id="hide-top-sidebar" class="hide-top-sidebar">Hide user &amp; search</a></li>
              </ul>
            </div>
          </div>
          <ul class="nav nav-sidebar">
            <li class="nav-active"><a href="/"><i class="icon-home"></i><span>Dashboard</span></a></li>
  
   

          <li class="nav-parent nav-active active">
              <a><i class="icon-user"></i><span>Entreprises </span><span class="fa arrow"></span></a>
              <ul class="children collapse">
        
                <li class="active"><a href="/company/add_company">Ajouter une entreprise</a></li>
                <li><a href="/company/companies">Nos entreprises</a></li>
              </ul>
            </li>


   


            <li class="nav-parent"><a href=""><i class="icon-user"></i><span>Partners
            </span><span class="fa arrow"></span></a>
              <ul class="children collapse">

              <li><a href="/partner/add_partner">Ajouter un partenaire</a></li>
              <li><a href="/partner/partners">Nos Partenaires</a></li>
            </ul>

          </li>




          </ul>
          <!-- SIDEBAR WIDGET FOLDERS -->
          <div class="sidebar-widgets">
            <p class="menu-title widget-title">Folders <span class="pull-right"><a href="#" class="new-folder"> <i class="icon-plus"></i></a></span></p>

          </div>
          <div class="sidebar-footer clearfix">
            <a class="pull-left footer-settings" href="#" data-rel="tooltip" data-placement="top" data-original-title="Settings">
            <i class="icon-settings"></i></a>
            <a class="pull-left toggle_fullscreen" href="#" data-rel="tooltip" data-placement="top" data-original-title="Fullscreen">
            <i class="icon-size-fullscreen"></i></a>
            <a class="pull-left" href="user-lockscreen.html" data-rel="tooltip" data-placement="top" data-original-title="Lockscreen">
            <i class="icon-lock"></i></a>
            <a class="pull-left btn-effect" href="user-login-v1.html" data-modal="modal-1" data-rel="tooltip" data-placement="top" data-original-title="Logout">
            <i class="icon-power"></i></a>
          </div>
        </div>
      </div>
      <!-- END SIDEBAR -->
      <div class="main-content">
        <!-- BEGIN TOPBAR -->
        <div class="topbar">
          <div class="header-left">
            <div class="topnav">
              <a class="menutoggle" href="#" data-toggle="sidebar-collapsed"><span class="menu__handle"><span>Menu</span></span></a>
              <ul class="nav nav-icons">
                <li><a href="#" class="toggle-sidebar-top"><span class="icon-user-following"></span></a></li>
                <li><a href="mailbox.html"><span class="octicon octicon-mail-read"></span></a></li>
                <li><a href="#"><span class="octicon octicon-flame"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="header-right">
            <ul class="header-menu nav navbar-nav">
              <!-- BEGIN USER DROPDOWN -->


              <!-- END USER DROPDOWN -->
              <!-- BEGIN NOTIFICATION DROPDOWN -->

              <li class="dropdown" id="user-header">
                <a href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                <img src="../assets/global/images/avatars/user1.png" alt="user image"/>
                <span class="username">Admin</span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="#"><i class="icon-user"></i><span>My Profile</span></a>
                  </li>
                  <li>
                    <a href="#"><i class="icon-calendar"></i><span>My Calendar</span></a>
                  </li>
                  <li>
                    <a href="#"><i class="icon-settings"></i><span>Account Settings</span></a>
                  </li>
                  <li>
                    <a href="#"><i class="icon-logout"></i><span>Logout</span></a>
                  </li>
                </ul>
              </li>
              <!-- END USER DROPDOWN -->
              <!-- CHAT BAR ICON -->

            </ul>
          </div>
          <!-- header-right -->
        </div>
        <!-- END TOPBAR -->
        <!-- BEGIN PAGE CONTENT -->
        <div class="page-content page-thin">

			<div class="header">
            <h2>Editer une <strong>Entreprise</strong></h2>
            </div>
           
          <div class="col-md-9">
			<div class="panel panel-default no-bd"> 
			
		    <div class="panel-body bg-white"> 
			
			<form role="form"  th:action="@{update_company}" th:object="${company}" method="post"  enctype="multipart/form-data" class="form-validation" novalidate="novalidate">
                        
              <input type="hidden" name="id" th:field="*{id}"/>
                        
                        <div class="row">
                            <div class="form-group">
                              <label class="control-label">Raison social :</label>
                              <div class="append-icon">
                                <input type="text" name="companyName" th:field="*{companyName}" class="form-control"  placeholder="Nom de l'entreprise" required="" aria-required="true"/>
                              </div>
                                  <div class="alert alert-warning" th:if="${#fields.hasErrors('companyName')}" >
  									<span th:errors="*{companyName}"></span> 
 			 					</div>
                            </div>
                            
                            <div class="form-group">
                              <label class="control-label">Capital social (DH) :</label>
                              <div class="append-icon">
                                <input type="number" name="turnOver" th:field="*{turnOver}" class="form-control" />
                              </div>
                            </div>
                            
                            <div class="form-group">
                              <label class="control-label">Forme juridiques :</label>
                              <div class="append-icon">
                                <input type="text" name="legalForm" th:field="*{legalForm}" class="form-control" />
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="control-label">Directeur General :</label>
                              <div class="append-icon">
                                <input type="text" name="generalDirector" th:field="*{generalDirector}" placeholder="Directeur General"  class="form-control"   required="" aria-required="true" />
                              </div>
                            </div>
						<div class="form-group">
										<label class="form-label">Date de creation :</label>

										<div class="prepend-icon">
											<input type="text" data-provide="datepicker"
												name="datepicker" th:field="*{dateCreation}"
												class="date-picker form-control hasDatepicker"
												id="dp1513100552850" placeholder="Selectionner une date" />
											<i class="icon-calendar"></i>

										</div>
										<div class="alert alert-warning"
											th:if="${#fields.hasErrors('dateCreation')}">
											<span th:errors="*{dateCreation}"></span>
										</div>
									</div>
                          
     							<div class="form-group">
										<label class="control-label">Logo de l'entreprise :</label>
				<div class="fileinput fileinput-new" data-provides="fileinput">
                          <div class="fileinput-new thumbnail">
                            <img data-src="" onerror="this.src='../assets/global/images/logo/insert.png'" th:src="@{logos(logoId=*{id})}" class="img-responsive" style="width:200px ;max-height:200px" />
                          </div>
                          <div class="fileinput-preview fileinput-exists thumbnail"  style="line-height: 10px; width:200px ;max-height:200px"></div>
                          <div>
                            <span class="btn btn-default btn-file"><span class="fileinput-new">Choisir un logo</span>
                            <span class="fileinput-exists">Changer</span>
                            <input type="file" name="logo" />
                            </span>
                            <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Supprimer</a>
                          </div>
                        </div>


									</div>
                            
<!--                             <div class="form-group"> -->
<!--                               <label class="control-label">TRI attendu :</label> -->
<!--                               <div class="append-icon"> -->
<!--                                 <input type="number" name="tri" th:field="*{RRI}" class="form-control"  placeholder="taux de revenu sur investissement" /> -->
<!--                               </div> -->
<!--                             </div> -->
                            
                           <div class="form-group">
                              <label class="control-label">Horizon :</label>
                              <div class="append-icon">
                                <input type="number" name="horizon" th:field="*{horizon}" class="form-control" placeholder="horizon en annee"  />
                              </div>
                            </div>
                            
                          <div class="form-group">
                              <label class="control-label">Commentaire : </label>
                              <div class="append-icon">
                                <input type="text" name="commentaire" th:field="*{comment}" class="form-control" />
                              </div>
                            
                        </div>

                          </div>
  
                        <div class="text-center  m-t-20">
                          <button type="submit" class="btn btn-embossed btn-primary">Editer</button>
                          <button type="reset" class="cancel btn btn-embossed btn-default m-b-10 m-r-0">Annuler</button>
                        </div>
                      </form>
			
			
			
			
			</div>
			
			
			
			
			
			</div>
		  </div>


          <div class="footer">
            <div class="copyright">
              <p class="pull-left sm-pull-reset">
                <span>Copyright <span class="copyright">©</span> 2018 </span>
                <span>Promento</span>.
                <span>All rights reserved. </span>
              </p>
              <p class="pull-right sm-pull-reset">
<!--                 <span><a href="#" class="m-r-10">Support</a> | <a href="#" class="m-l-10 m-r-10">Terms of use</a> | <a href="#" class="m-l-10">Privacy Policy</a></span> -->
              </p>
            </div>
          </div>
        </div>
        <!-- END PAGE CONTENT -->
      </div>
      <!-- END MAIN CONTENT -->
      <!-- BEGIN BUILDER -->

      <!-- END BUILDER -->
    </section>
    <!-- BEGIN QUICKVIEW SIDEBAR -->

    <!-- END QUICKVIEW SIDEBAR -->
    
    <!-- BEGIN SEARCH -->

    <!-- END SEARCH -->
    
    
    <!-- BEGIN PRELOADER -->
    <div class="loader-overlay">
      <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </div>
    <!-- END PRELOADER -->
    
    
    <a href="#" class="scrollup"><i class="fa fa-angle-up"></i></a> 
    <script src="../assets/global/plugins/jquery/jquery-1.11.1.min.js"></script>
    <script src="../assets/global/plugins/jquery/jquery-migrate-1.2.1.min.js"></script>
    <script src="../assets/global/plugins/jquery-ui/jquery-ui-1.11.2.min.js"></script>
    <script src="../assets/global/plugins/gsap/main-gsap.min.js"></script>
    <script src="../assets/global/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../assets/global/plugins/bootstrap/js/jasny-bootstrap.min.js"></script>
    <script src="../assets/global/plugins/jquery-cookies/jquery.cookies.min.js"></script> <!-- Jquery Cookies, for theme -->
    <script src="../assets/global/plugins/jquery-block-ui/jquery.blockUI.min.js"></script> <!-- simulate synchronous behavior when using AJAX -->
<!--     <script src="../assets/global/plugins/bootbox/bootbox.min.js"></script> Modal with Validation -->
    <script src="../assets/global/plugins/mcustom-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script> <!-- Custom Scrollbar sidebar -->
    <script src="../assets/global/plugins/bootstrap-dropdown/bootstrap-hover-dropdown.min.js"></script> <!-- Show Dropdown on Mouseover -->
<!--     <script src="../assets/global/plugins/charts-sparkline/sparkline.min.js"></script> Charts Sparkline -->
<!--     <script src="../assets/global/plugins/retina/retina.min.js"></script> Retina Display -->
<!--     <script src="../assets/global/plugins/select2/select2.min.js"></script> Select Inputs -->
<!--     <script src="../assets/global/plugins/icheck/icheck.min.js"></script> Checkbox & Radio Inputs -->
<!--     <script src="../assets/global/plugins/backstretch/backstretch.min.js"></script> Background Image -->
    <script src="../assets/global/plugins/bootstrap-progressbar/bootstrap-progressbar.min.js"></script> <!-- Animated Progress Bar -->
<!--     <script src="../assets/global/js/builder.js"></script> Theme Builder -->
    <script src="../assets/global/js/sidebar_hover.js"></script> <!-- Sidebar on Hover -->
    <script src="../assets/global/js/application.js"></script> <!-- Main Application Script -->
    <script src="../assets/global/js/plugins.js"></script> <!-- Main Plugin Initialization Script -->
    <script src="../assets/global/js/widgets/notes.js"></script> <!-- Notes Widget -->
<!--     <script src="../assets/global/js/quickview.js"></script> Chat Script -->
<!--     <script src="../assets/global/js/pages/search.js"></script> Search Script -->
    <!-- BEGIN PAGE SCRIPT -->

    <!-- END PAGE SCRIPT -->
    <script src="../assets/admin/layout1/js/layout.js"></script>
  </body>
</html>

